# mac os
.DS_Store

# forge / gradle
.gradle
build/
out/
classes/
run/
.factorypath

# eclipse 
*.launch
.settings
.classpath
.project
.metadata
eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath

# other
bin/
jars/
/.nb-gradle/
src.zip
temp_src/src/main/java/com/voidsrift/riftflux/openautism/network/PacketToolbeltSwap.java
temp_src/src/main/java/com/voidsrift/riftflux/openautism/mixin/MixinGuiContainer.java
temp_src/src/main/java/com/voidsrift/riftflux/openautism/lib/helper/REHToolbeltHelper.java
temp_src/src/main/java/com/voidsrift/riftflux/openautism/lib/container/ContainerBackpack.java
temp_src/src/main/java/com/voidsrift/riftflux/openautism/event/WorldEventHandler.java
temp_src/src/main/java/com/voidsrift/riftflux/openautism/event/KeyEventHandler.java
temp_src/src/main/java/com/voidsrift/riftflux/openautism/client/gui/GuiInventoryBackpack.java
temp_extracted/WorldEventHandler_decompiled.txt
temp_extracted/openautism/network/PacketToolbeltSwap.class
temp_extracted/openautism/event/WorldEventHandler.class
temp_extracted/openautism/event/KeyEventHandler.class
temp_extracted/openautism/client/gui/GuiInventoryBackpack.class
temp_avatar/META-INF/MANIFEST.MF
temp_avatar/mcmod.info
temp_avatar/kieranvs/avatar/util/StringColour.class
temp_avatar/kieranvs/avatar/util/ProjectileLauncher.class
temp_avatar/kieranvs/avatar/util/PacketSender.class
temp_avatar/kieranvs/avatar/util/Messaging.class
temp_avatar/kieranvs/avatar/util/GenericProgressor.class
temp_avatar/kieranvs/avatar/util/GenerationUtils.class
temp_avatar/kieranvs/avatar/util/FileLocation.class
temp_avatar/kieranvs/avatar/util/EntityActionPerformer.class
temp_avatar/kieranvs/avatar/util/BlockActionPerformer.class
temp_avatar/kieranvs/avatar/util/BendingUtils.class
temp_avatar/kieranvs/avatar/util/AvatarDamageSource.class
temp_avatar/kieranvs/avatar/UpdateChecker.class
temp_avatar/kieranvs/avatar/ProtectionRegion.class
temp_avatar/kieranvs/avatar/Protection.class
temp_avatar/kieranvs/avatar/NewNetworkHandler.class
temp_avatar/kieranvs/avatar/mod_Avatar.class
temp_avatar/kieranvs/avatar/KeyBind.class
temp_avatar/kieranvs/avatar/item/ItemSpellTome.class
temp_avatar/kieranvs/avatar/item/ItemSnowSlab.class
temp_avatar/kieranvs/avatar/item/ItemRiceGrain.class
temp_avatar/kieranvs/avatar/item/ItemPackedIceSlab.class
temp_avatar/kieranvs/avatar/item/ItemMoney.class
temp_avatar/kieranvs/avatar/item/ItemMetalArmor.class
temp_avatar/kieranvs/avatar/item/ItemIceSlab.class
temp_avatar/kieranvs/avatar/item/ItemGliderWing.class
temp_avatar/kieranvs/avatar/item/ItemGlider.class
temp_avatar/kieranvs/avatar/item/ItemFoodSeaweedSoup.class
temp_avatar/kieranvs/avatar/item/ItemFoodSeaweedCookies.class
temp_avatar/kieranvs/avatar/item/ItemFoodSeaweedBread.class
temp_avatar/kieranvs/avatar/item/ItemFoodSeaweed.class
temp_avatar/kieranvs/avatar/item/ItemFoodSeaSquidSoup.class
temp_avatar/kieranvs/avatar/item/ItemFoodSeaSquid.class
temp_avatar/kieranvs/avatar/item/ItemFoodSeaPruneStew.class
temp_avatar/kieranvs/avatar/item/ItemFoodSeaPrune.class
temp_avatar/kieranvs/avatar/item/ItemFoodRiceBowl.class
temp_avatar/kieranvs/avatar/item/ItemFoodNoodles.class
temp_avatar/kieranvs/avatar/item/ItemFoodMoonPeach.class
temp_avatar/kieranvs/avatar/item/ItemFoodFruitPie.class
temp_avatar/kieranvs/avatar/item/ItemFoodCustardTart.class
temp_avatar/kieranvs/avatar/item/ItemFoodCabbage.class
temp_avatar/kieranvs/avatar/item/ItemFireSword.class
temp_avatar/kieranvs/avatar/item/ItemBendingTool.class
temp_avatar/kieranvs/avatar/item/ItemBendingSatchel.class
temp_avatar/kieranvs/avatar/item/ItemAirStaff.class
temp_avatar/kieranvs/avatar/HelpStrings.class
temp_avatar/kieranvs/avatar/generation/WorldProviderSpiritWorld.class
temp_avatar/kieranvs/avatar/generation/WorldGenWaterSouthWatchTower.class
temp_avatar/kieranvs/avatar/generation/WorldGenWaterSouthTribeVillage.class
temp_avatar/kieranvs/avatar/generation/WorldGenWaterNorthWatchTower.class
temp_avatar/kieranvs/avatar/generation/WorldGenWaterNorthTribeVillage.class
temp_avatar/kieranvs/avatar/generation/WorldGenSeaPlants.class
temp_avatar/kieranvs/avatar/generation/WorldGenFireNationTower.class
temp_avatar/kieranvs/avatar/generation/WorldGenFireNationHouse.class
temp_avatar/kieranvs/avatar/generation/WorldGenEarthKingdomTower.class
temp_avatar/kieranvs/avatar/generation/WorldGenEarthKingdomHouseTwo.class
temp_avatar/kieranvs/avatar/generation/WorldGenEarthKingdomHouseOne.class
temp_avatar/kieranvs/avatar/generation/WorldGenEarthKingdomCompound.class
temp_avatar/kieranvs/avatar/generation/WorldGenAirNomadWatchTower.class
temp_avatar/kieranvs/avatar/generation/WorldGenAirNomadVillageTwo.class
temp_avatar/kieranvs/avatar/generation/WorldGenAirNomadVillageOne.class
temp_avatar/kieranvs/avatar/generation/WorldGenAirNomadTemple.class
temp_avatar/kieranvs/avatar/generation/WorldChunkManagerSpiritWorld.class
temp_avatar/kieranvs/avatar/generation/TeleporterSpiritWorld.class
temp_avatar/kieranvs/avatar/generation/ChunkProviderSimple.class
temp_avatar/kieranvs/avatar/generation/BiomeSpirit.class
temp_avatar/kieranvs/avatar/ForgeListener.class
temp_avatar/kieranvs/avatar/FlightKeyController.class
temp_avatar/kieranvs/avatar/entity/RenderRock.class
temp_avatar/kieranvs/avatar/entity/RenderPolarBearDog.class
temp_avatar/kieranvs/avatar/entity/RenderPerson.class
temp_avatar/kieranvs/avatar/entity/RenderOtterPenguin.class
temp_avatar/kieranvs/avatar/entity/RenderGliderInHand.class
temp_avatar/kieranvs/avatar/entity/RenderGliderActive.class
temp_avatar/kieranvs/avatar/entity/RenderEntityBlock.class
temp_avatar/kieranvs/avatar/entity/RenderBison.class
temp_avatar/kieranvs/avatar/entity/RenderBandit.class
temp_avatar/kieranvs/avatar/entity/RenderBadgerMole.class
temp_avatar/kieranvs/avatar/entity/RenderAirBall.class
temp_avatar/kieranvs/avatar/entity/ModelRock.class
temp_avatar/kieranvs/avatar/entity/ModelPolarBearDog.class
temp_avatar/kieranvs/avatar/entity/ModelOtterPenguin.class
temp_avatar/kieranvs/avatar/entity/ModelGlider2.class
temp_avatar/kieranvs/avatar/entity/ModelGlider.class
temp_avatar/kieranvs/avatar/entity/ModelFlyingBison.class
temp_avatar/kieranvs/avatar/entity/ModelFlamingo.class
temp_avatar/kieranvs/avatar/entity/ModelBison.class
temp_avatar/kieranvs/avatar/entity/ModelBenderBiped.class
temp_avatar/kieranvs/avatar/entity/ModelBadgerMole.class
temp_avatar/kieranvs/avatar/entity/ModelAirStaffOpen.class
temp_avatar/kieranvs/avatar/entity/ModelAirStaffClosed.class
temp_avatar/kieranvs/avatar/entity/ModelAirBall.class
temp_avatar/kieranvs/avatar/entity/ItemRenderAirStaff.class
temp_avatar/kieranvs/avatar/entity/ItemRenderAirStaff$1.class
temp_avatar/kieranvs/avatar/entity/EntityWaterWoman.class
temp_avatar/kieranvs/avatar/entity/EntityWaterMan.class
temp_avatar/kieranvs/avatar/entity/EntityWaterBandit.class
temp_avatar/kieranvs/avatar/entity/EntityRock.class
temp_avatar/kieranvs/avatar/entity/EntityPolarBearDog.class
temp_avatar/kieranvs/avatar/entity/EntityPerson.class
temp_avatar/kieranvs/avatar/entity/EntityOtterPenguin.class
temp_avatar/kieranvs/avatar/entity/EntityGlider.class
temp_avatar/kieranvs/avatar/entity/EntityFireWoman.class
temp_avatar/kieranvs/avatar/entity/EntityFireMan.class
temp_avatar/kieranvs/avatar/entity/EntityFireBandit.class
temp_avatar/kieranvs/avatar/entity/EntityFamiliar.class
temp_avatar/kieranvs/avatar/entity/EntityEarthWoman.class
temp_avatar/kieranvs/avatar/entity/EntityEarthMan.class
temp_avatar/kieranvs/avatar/entity/EntityEarthBandit.class
temp_avatar/kieranvs/avatar/entity/EntityChatListener.class
temp_avatar/kieranvs/avatar/entity/EntityBlock.class
temp_avatar/kieranvs/avatar/entity/EntityBison.class
temp_avatar/kieranvs/avatar/entity/EntityBandit.class
temp_avatar/kieranvs/avatar/entity/EntityBadgerMole.class
temp_avatar/kieranvs/avatar/entity/EntityAvatarFireball.class
temp_avatar/kieranvs/avatar/entity/EntityArcherBandit.class
temp_avatar/kieranvs/avatar/entity/EntityAirWoman.class
temp_avatar/kieranvs/avatar/entity/EntityAirMan.class
temp_avatar/kieranvs/avatar/entity/EntityAirBall.class
temp_avatar/kieranvs/avatar/container/SlotScroll.class
temp_avatar/kieranvs/avatar/container/IInventoryItem.class
temp_avatar/kieranvs/avatar/container/GuiItemInventory.class
temp_avatar/kieranvs/avatar/container/ContainerItem.class
temp_avatar/kieranvs/avatar/Configurator.class
temp_avatar/kieranvs/avatar/CommonProxy.class
temp_avatar/kieranvs/avatar/command/CommandSendClientData.class
temp_avatar/kieranvs/avatar/command/CommandRegion.class
temp_avatar/kieranvs/avatar/command/CommandPerformance.class
temp_avatar/kieranvs/avatar/command/CommandNameFamiliar.class
temp_avatar/kieranvs/avatar/command/CommandMusic.class
temp_avatar/kieranvs/avatar/command/CommandBending.class
temp_avatar/kieranvs/avatar/client/WaterTokenTab.class
temp_avatar/kieranvs/avatar/client/TestCustomParticle.class
temp_avatar/kieranvs/avatar/client/Sounds.class
temp_avatar/kieranvs/avatar/client/SoundHandler.class
temp_avatar/kieranvs/avatar/client/MovingSoundEffect.class
temp_avatar/kieranvs/avatar/client/FireTokenTab.class
temp_avatar/kieranvs/avatar/client/EntityAvatarLightningChargeFX.class
temp_avatar/kieranvs/avatar/client/EntityAvatarFlameFX.class
temp_avatar/kieranvs/avatar/client/EntityAvatarBubbleFX.class
temp_avatar/kieranvs/avatar/client/EarthTokenTab.class
temp_avatar/kieranvs/avatar/client/Data.class
temp_avatar/kieranvs/avatar/client/ClientTickHandler.class
temp_avatar/kieranvs/avatar/client/ClientProxy.class
temp_avatar/kieranvs/avatar/client/ClientForgeListener.class
temp_avatar/kieranvs/avatar/client/AirTokenTab.class
temp_avatar/kieranvs/avatar/bukkit/Vector.class
temp_avatar/kieranvs/avatar/bukkit/NumberConversions.class
temp_avatar/kieranvs/avatar/bukkit/Location.class
temp_avatar/kieranvs/avatar/bukkit/BlockBukkit.class
temp_avatar/kieranvs/avatar/block/TileEntityYangchenStatue.class
temp_avatar/kieranvs/avatar/block/TileEntityYangchenRenderer.class
temp_avatar/kieranvs/avatar/block/TileEntitySpiritPortalRenderer.class
temp_avatar/kieranvs/avatar/block/TileEntitySpiritPortal.class
temp_avatar/kieranvs/avatar/block/TileEntitySpiritPortal$1.class
temp_avatar/kieranvs/avatar/block/TileEntityRokuStatue.class
temp_avatar/kieranvs/avatar/block/TileEntityRokuRenderer.class
temp_avatar/kieranvs/avatar/block/TileEntityKyoshiStatue.class
temp_avatar/kieranvs/avatar/block/TileEntityKyoshiRenderer.class
temp_avatar/kieranvs/avatar/block/TileEntityBlueFire.class
temp_avatar/kieranvs/avatar/block/TileEntityAirVent.class
temp_avatar/kieranvs/avatar/block/TileEntityAirVent$1.class
temp_avatar/kieranvs/avatar/block/ModelStatueYangchen.class
temp_avatar/kieranvs/avatar/block/ModelStatueRoku.class
temp_avatar/kieranvs/avatar/block/ModelStatueKyoshi.class
temp_avatar/kieranvs/avatar/block/BlueFireRenderer.class
temp_avatar/kieranvs/avatar/block/BlueFire.class
temp_avatar/kieranvs/avatar/block/BlockTreeOfTimeWood.class
temp_avatar/kieranvs/avatar/block/BlockStatueYangchen.class
temp_avatar/kieranvs/avatar/block/BlockStatueRoku.class
temp_avatar/kieranvs/avatar/block/BlockStatueKyoshi.class
temp_avatar/kieranvs/avatar/block/BlockSpiritPortal.class
temp_avatar/kieranvs/avatar/block/BlockSeaweedPlant.class
temp_avatar/kieranvs/avatar/block/BlockSeaPrunePlant.class
temp_avatar/kieranvs/avatar/block/BlockRiceCrop.class
temp_avatar/kieranvs/avatar/block/BlockMetalArmor.class
temp_avatar/kieranvs/avatar/block/BlockGrassCustom.class
temp_avatar/kieranvs/avatar/block/BlockElementBlock.class
temp_avatar/kieranvs/avatar/block/BlockColdDecorativeStairs.class
temp_avatar/kieranvs/avatar/block/BlockColdDecorativeSlabs.class
temp_avatar/kieranvs/avatar/block/BlockColdDecorative.class
temp_avatar/kieranvs/avatar/block/BlockAirVent.class
temp_avatar/kieranvs/avatar/BendingPacketHandler.class
temp_avatar/kieranvs/avatar/bending/water/WaterWaterShield.class
temp_avatar/kieranvs/avatar/bending/water/WaterOctopusForm.class
temp_avatar/kieranvs/avatar/bending/water/WaterIceWall.class
temp_avatar/kieranvs/avatar/bending/water/WaterIceStream.class
temp_avatar/kieranvs/avatar/bending/water/WaterIceRing.class
temp_avatar/kieranvs/avatar/bending/water/WaterIceBridge.class
temp_avatar/kieranvs/avatar/bending/water/WaterFreezeWaterfall.class
temp_avatar/kieranvs/avatar/bending/water/WaterDamagingSnowball.class
temp_avatar/kieranvs/avatar/bending/water/WaterBlobRaise.class
temp_avatar/kieranvs/avatar/bending/water/SnowballThrow.class
temp_avatar/kieranvs/avatar/bending/PerformanceAssessor.class
temp_avatar/kieranvs/avatar/bending/fire/PassiveListener.class
temp_avatar/kieranvs/avatar/bending/fire/FireWhip.class
temp_avatar/kieranvs/avatar/bending/fire/FireWall.class
temp_avatar/kieranvs/avatar/bending/fire/FireStream.class
temp_avatar/kieranvs/avatar/bending/fire/FireStream$2.class
temp_avatar/kieranvs/avatar/bending/fire/FireStream$1.class
temp_avatar/kieranvs/avatar/bending/fire/FireStar.class
temp_avatar/kieranvs/avatar/bending/fire/FireShield.class
temp_avatar/kieranvs/avatar/bending/fire/FireRing.class
temp_avatar/kieranvs/avatar/bending/fire/FireMelt.class
temp_avatar/kieranvs/avatar/bending/fire/FireMelt$1.class
temp_avatar/kieranvs/avatar/bending/fire/FireLightning.class
temp_avatar/kieranvs/avatar/bending/fire/FireJet.class
temp_avatar/kieranvs/avatar/bending/fire/FireFlight.class
temp_avatar/kieranvs/avatar/bending/fire/FireExplosion.class
temp_avatar/kieranvs/avatar/bending/fire/FireBlast.class
temp_avatar/kieranvs/avatar/bending/fire/Fireball.class
temp_avatar/kieranvs/avatar/bending/ElementManager.class
temp_avatar/kieranvs/avatar/bending/earth/EarthWall.class
temp_avatar/kieranvs/avatar/bending/earth/EarthTunnelColumn.class
temp_avatar/kieranvs/avatar/bending/earth/EarthThrow.class
temp_avatar/kieranvs/avatar/bending/earth/EarthTent.class
temp_avatar/kieranvs/avatar/bending/earth/EarthStream.class
temp_avatar/kieranvs/avatar/bending/earth/EarthRockThrow.class
temp_avatar/kieranvs/avatar/bending/earth/EarthRaisePlatform.class
temp_avatar/kieranvs/avatar/bending/earth/EarthRaiseBlock.class
temp_avatar/kieranvs/avatar/bending/earth/EarthOreSense.class
temp_avatar/kieranvs/avatar/bending/earth/EarthMetalArmor.class
temp_avatar/kieranvs/avatar/bending/earth/EarthLaunch.class
temp_avatar/kieranvs/avatar/bending/earth/EarthLaunch$1.class
temp_avatar/kieranvs/avatar/bending/earth/EarthBuildWall.class
temp_avatar/kieranvs/avatar/bending/earth/EarthBuildWall$1.class
temp_avatar/kieranvs/avatar/bending/earth/EarthBuildTower.class
temp_avatar/kieranvs/avatar/bending/earth/EarthBridge.class
temp_avatar/kieranvs/avatar/bending/BendingTickHandler.class
temp_avatar/kieranvs/avatar/bending/BendingListener.class
temp_avatar/kieranvs/avatar/bending/BendingHandler.class
temp_avatar/kieranvs/avatar/bending/AsynchronousAbility.class
temp_avatar/kieranvs/avatar/bending/air/PassiveTickHandler.class
temp_avatar/kieranvs/avatar/bending/air/PassiveListener.class
temp_avatar/kieranvs/avatar/bending/air/AirWindRun.class
temp_avatar/kieranvs/avatar/bending/air/AirUnrelentingWind.class
temp_avatar/kieranvs/avatar/bending/air/AirTornado.class
temp_avatar/kieranvs/avatar/bending/air/AirTornado$1.class
temp_avatar/kieranvs/avatar/bending/air/AirStream.class
temp_avatar/kieranvs/avatar/bending/air/AirStream$2.class
temp_avatar/kieranvs/avatar/bending/air/AirStream$1.class
temp_avatar/kieranvs/avatar/bending/air/AirSpring.class
temp_avatar/kieranvs/avatar/bending/air/AirSphere.class
temp_avatar/kieranvs/avatar/bending/air/AirShield.class
temp_avatar/kieranvs/avatar/bending/air/AirRing.class
temp_avatar/kieranvs/avatar/bending/air/AirItemSweep.class
temp_avatar/kieranvs/avatar/bending/air/AirHighJump.class
temp_avatar/kieranvs/avatar/bending/air/AirGust.class
temp_avatar/kieranvs/avatar/bending/air/AirFunnel.class
temp_avatar/kieranvs/avatar/bending/air/AirDomeBurst.class
temp_avatar/kieranvs/avatar/bending/air/AirDisc.class
temp_avatar/kieranvs/avatar/bending/air/AirDisc$1.class
temp_avatar/kieranvs/avatar/bending/air/AirBallThrow.class
temp_avatar/kieranvs/avatar/bending/AbilityTCFix.class
temp_avatar/kieranvs/avatar/bending/Ability.class
temp_avatar/kieranvs/avatar/ai/EntityAIWanderInTown.class
temp_avatar/kieranvs/avatar/ai/EntityAIAttackWithBending.class
temp_avatar/com/example/examplemod/ExampleMod.class
temp_avatar/assets/kieranvs_avatar/textures/statues/AvatarYangchenStatue.png
temp_avatar/assets/kieranvs_avatar/textures/statues/AvatarRokuStatue.png
temp_avatar/assets/kieranvs_avatar/textures/statues/AvatarKyoshiStatue.png
temp_avatar/assets/kieranvs_avatar/textures/items/YellowStaffIcon.png
temp_avatar/assets/kieranvs_avatar/textures/items/WhiteStaffIcon.png
temp_avatar/assets/kieranvs_avatar/textures/items/RiceBowl.png
temp_avatar/assets/kieranvs_avatar/textures/items/RedStaffIcon.png
temp_avatar/assets/kieranvs_avatar/textures/items/PurpleStaffIcon.png
temp_avatar/assets/kieranvs_avatar/textures/items/PinkStaffIcon.png
temp_avatar/assets/kieranvs_avatar/textures/items/Peach.png
temp_avatar/assets/kieranvs_avatar/textures/items/OrangeStaffIcon.png
temp_avatar/assets/kieranvs_avatar/textures/items/MagentaStaffIcon.png
temp_avatar/assets/kieranvs_avatar/textures/items/LightGreyStaffIcon.png
temp_avatar/assets/kieranvs_avatar/textures/items/LightGreenStaffIcon.png
temp_avatar/assets/kieranvs_avatar/textures/items/LightBlueStaffIcon.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.WaterToken.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.SilverPiece.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.SeaweedStew.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.SeaweedCookies.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.SeaweedBread.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.Seaweed.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.SeaSquidStew.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.SeaSquid.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.SeaPruneStew.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.SeaPrune.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.Scroll_Yellow.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.Scroll_Red.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.Scroll_Open.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.Scroll_Grey.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.Scroll_Green.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.Scroll_Blue.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.Scroll_Blank.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.satchel.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.RiceGrains.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.MetalLeggings.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.MetalHelmet.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.MetalChestplate.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.MetalBoots.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.MetalArmorChainStorer.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.GoldPiece.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.FruitPie.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.FlameSword.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.FireToken.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.FireSword.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.EarthToken.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.CustardTart.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.BronzePiece.png
temp_avatar/assets/kieranvs_avatar/textures/items/item.AirToken.png
temp_avatar/assets/kieranvs_avatar/textures/items/GreyStaffIcon.png
temp_avatar/assets/kieranvs_avatar/textures/items/GreenStaffIcon.png
temp_avatar/assets/kieranvs_avatar/textures/items/GliderWing.png
temp_avatar/assets/kieranvs_avatar/textures/items/CyanStaffIcon.png
temp_avatar/assets/kieranvs_avatar/textures/items/ClosedGliderIcon.png
temp_avatar/assets/kieranvs_avatar/textures/items/Cabbage.png
temp_avatar/assets/kieranvs_avatar/textures/items/BrownStaffIcon.png
temp_avatar/assets/kieranvs_avatar/textures/items/BlueStaffIcon.png
temp_avatar/assets/kieranvs_avatar/textures/items/BlackStaffIcon.png
temp_avatar/assets/kieranvs_avatar/textures/entities/YellowStaff.png
temp_avatar/assets/kieranvs_avatar/textures/entities/WhiteStaff.png
temp_avatar/assets/kieranvs_avatar/textures/entities/WaterTribeWoman.png
temp_avatar/assets/kieranvs_avatar/textures/entities/WaterTribeMan.png
temp_avatar/assets/kieranvs_avatar/textures/entities/WaterBandit.png
temp_avatar/assets/kieranvs_avatar/textures/entities/WarriorBandit.png
temp_avatar/assets/kieranvs_avatar/textures/entities/Spirit_2.png
temp_avatar/assets/kieranvs_avatar/textures/entities/Spirit_1.png
temp_avatar/assets/kieranvs_avatar/textures/entities/Spirit_0.png
temp_avatar/assets/kieranvs_avatar/textures/entities/rock.png
temp_avatar/assets/kieranvs_avatar/textures/entities/RedStaff.png
temp_avatar/assets/kieranvs_avatar/textures/entities/PurpleStaff.png
temp_avatar/assets/kieranvs_avatar/textures/entities/PinkStaff.png
temp_avatar/assets/kieranvs_avatar/textures/entities/OtterPenguin.png
temp_avatar/assets/kieranvs_avatar/textures/entities/OrangeStaff.png
temp_avatar/assets/kieranvs_avatar/textures/entities/MagentaStaff.png
temp_avatar/assets/kieranvs_avatar/textures/entities/LightGreyStaff.png
temp_avatar/assets/kieranvs_avatar/textures/entities/LightGreenStaff.png
temp_avatar/assets/kieranvs_avatar/textures/entities/LightBlueStaff.png
temp_avatar/assets/kieranvs_avatar/textures/entities/GreyStaff.png
temp_avatar/assets/kieranvs_avatar/textures/entities/GreenStaff.png
temp_avatar/assets/kieranvs_avatar/textures/entities/Glider.png
temp_avatar/assets/kieranvs_avatar/textures/entities/Flamingo.png
temp_avatar/assets/kieranvs_avatar/textures/entities/FireNationWoman.png
temp_avatar/assets/kieranvs_avatar/textures/entities/FireNationMan.png
temp_avatar/assets/kieranvs_avatar/textures/entities/FireBandit.png
temp_avatar/assets/kieranvs_avatar/textures/entities/EntityPolarBearDog.png
temp_avatar/assets/kieranvs_avatar/textures/entities/EarthKingdomWoman.png
temp_avatar/assets/kieranvs_avatar/textures/entities/EarthKingdomMan.png
temp_avatar/assets/kieranvs_avatar/textures/entities/EarthBandit.png
temp_avatar/assets/kieranvs_avatar/textures/entities/CyanStaff.png
temp_avatar/assets/kieranvs_avatar/textures/entities/BrownStaff.png
temp_avatar/assets/kieranvs_avatar/textures/entities/BlueStaff.png
temp_avatar/assets/kieranvs_avatar/textures/entities/BlackStaff.png
temp_avatar/assets/kieranvs_avatar/textures/entities/Bison2.png
temp_avatar/assets/kieranvs_avatar/textures/entities/Bison.png
temp_avatar/assets/kieranvs_avatar/textures/entities/Bandit.png
temp_avatar/assets/kieranvs_avatar/textures/entities/badger_mole.png
temp_avatar/assets/kieranvs_avatar/textures/entities/ArcherBandit.png
temp_avatar/assets/kieranvs_avatar/textures/entities/AirnomadWoman3.png
temp_avatar/assets/kieranvs_avatar/textures/entities/AirnomadWoman2.png
temp_avatar/assets/kieranvs_avatar/textures/entities/AirNomadWoman.png
temp_avatar/assets/kieranvs_avatar/textures/entities/AirNomadMan3.png
temp_avatar/assets/kieranvs_avatar/textures/entities/AirNomadMan2.png
temp_avatar/assets/kieranvs_avatar/textures/entities/AirNomadMan.png
temp_avatar/assets/kieranvs_avatar/textures/entities/AirbendingMasterMale.png
temp_avatar/assets/kieranvs_avatar/textures/entities/AirbendingMasterFemale.png
temp_avatar/assets/kieranvs_avatar/textures/entities/Airbending staff closed.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.YellowGrass.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.WaterTribeBlock.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.WaterBlock.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.TreeOfTimeWood.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.SpiritGrass.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.SeaweedPlant.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.Sea Prune Plant.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.Rice Crop_grown.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.Rice Crop.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.Metal Armor Block.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.FireNationBlock.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.FireBlock.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.EarthKingdomBlock.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.EarthBlock.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.CharredGrass.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.CharredDirt.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.AirVent_top.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.AirVent_side.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.AirVent_bottom.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.AirNomadsBlock.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/tile.AirBlock.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/snow_brick_chiseled.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/snow_brick.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/packed_ice_brick_chiseled.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/packed_ice_brick.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/ice_brick_chiseled.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/ice_brick.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/bluefire_1.png.mcmeta
temp_avatar/assets/kieranvs_avatar/textures/blocks/bluefire_1.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/bluefire_0.png.mcmeta
temp_avatar/assets/kieranvs_avatar/textures/blocks/bluefire_0.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/AvatarYangchenStatue.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/AvatarRokuStatue.png
temp_avatar/assets/kieranvs_avatar/textures/blocks/AvatarKyoshiStatue.png
temp_avatar/assets/kieranvs_avatar/textures/bending_gui.png
temp_avatar/assets/kieranvs_avatar/textures/armor/waterskin_layer1.png
temp_avatar/assets/kieranvs_avatar/textures/armor/metal_2.png
temp_avatar/assets/kieranvs_avatar/textures/armor/metal_1.png
temp_avatar/assets/kieranvs_avatar/sounds/wind.ogg
temp_avatar/assets/kieranvs_avatar/sounds/fire06looping.ogg
temp_avatar/assets/kieranvs_avatar/sounds/fire05quick.ogg
temp_avatar/assets/kieranvs_avatar/sounds/fire04quick.ogg
temp_avatar/assets/kieranvs_avatar/sounds/fire03strong.ogg
temp_avatar/assets/kieranvs_avatar/sounds/fire02basic.ogg
temp_avatar/assets/kieranvs_avatar/sounds/fire01basic.ogg
temp_avatar/assets/kieranvs_avatar/sounds/Earthbending03.ogg
temp_avatar/assets/kieranvs_avatar/sounds/Earthbending02.ogg
temp_avatar/assets/kieranvs_avatar/sounds/Earthbending01.ogg
temp_avatar/assets/kieranvs_avatar/sounds/AirVent.ogg
temp_avatar/assets/kieranvs_avatar/sounds/AirbendingLong08.ogg
temp_avatar/assets/kieranvs_avatar/sounds/AirbendingLong07.ogg
temp_avatar/assets/kieranvs_avatar/sounds/AirbendingFast06.ogg
temp_avatar/assets/kieranvs_avatar/sounds/AirbendingFast05.ogg
temp_avatar/assets/kieranvs_avatar/sounds/Airbending04.ogg
temp_avatar/assets/kieranvs_avatar/sounds/Airbending03.ogg
temp_avatar/assets/kieranvs_avatar/sounds/Airbending02.ogg
temp_avatar/assets/kieranvs_avatar/sounds/Airbending01.ogg
temp_avatar/assets/kieranvs_avatar/sounds.json
temp_avatar/assets/kieranvs_avatar/lang/en_US.lang
temp_avatar.zip
srcrf2backup.zip
src9.zip
src8.zip
src7.zip
src6.zip
src5.zip
src4.zip
src3.zip
src2.zip
src17.zip
src16.zip
src15.zip
src14.zip
src13.zip
src12.zip
src11.zip
src10.zip
work toolbelt from here source.zip
temp_src17/src/main/java/com/voidsrift/riftflux/openautism/event/WorldEventHandler.java
riftflux2.zip
next OA base src.zip
