# GuiScreen
public net.minecraft.client.gui.GuiScreen field_146292_n #buttonList
public net.minecraft.inventory.ContainerFurnace field_75158_e # furnace
public net.minecraft.tileentity.TileEntityFurnace func_145948_k()Z # canCook
public net.minecraft.entity.projectile.EntityFishHook field_146039_d # junk
public net.minecraft.entity.projectile.EntityFishHook field_146041_e # treasure
public net.minecraft.entity.projectile.EntityFishHook field_146036_f # fish
public net.minecraft.entity.projectile.EntityFishHook field_146045_ax # randomizedFishingTimer
